
/****** Object:  Database [CityBikeDB]    Script Date: 4.1.2024 21.37.55 ******/
CREATE DATABASE [CityBikeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CityBikeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXELINALE\MSSQL\DATA\CityBikeDB.mdf' , SIZE = 729088KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CityBike_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXELINALE\MSSQL\DATA\CityBike_log.ldf' , SIZE = 1843200KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CityBikeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CityBikeDB]
GO
/****** Object:  Table [dbo].[Journeys]    Script Date: 4.1.2024 21.37.55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journeys](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Departure] [datetime2](7) NOT NULL,
	[Return] [datetime2](7) NOT NULL,
	[Departure_station_id] [int] NOT NULL,
	[Departure_station_name] [nvarchar](50) NOT NULL,
	[Return_station_id] [int] NOT NULL,
	[Return_station_name] [nvarchar](50) NOT NULL,
	[Covered_distance_m] [float] NULL,
	[Duration_sec] [int] NOT NULL,
 CONSTRAINT [PK_Journeys] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 4.1.2024 21.37.55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[FID] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[Nimi] [nvarchar](50) NOT NULL,
	[Namn] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Osoite] [nvarchar](50) NOT NULL,
	[Adress] [nvarchar](50) NOT NULL,
	[Kaupunki] [nvarchar](50) NULL,
	[Stad] [nvarchar](50) NULL,
	[Operaattor] [nvarchar](50) NULL,
	[Kapasiteet] [int] NOT NULL,
	[x] [nvarchar](50) NOT NULL,
	[y] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Stations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Journeys] ON 

INSERT [dbo].[Journeys] ([ID], [Departure], [Return], [Departure_station_id], [Departure_station_name], [Return_station_id], [Return_station_name], [Covered_distance_m], [Duration_sec]) VALUES (1, CAST(N'2021-05-01T00:00:11.0000000' AS DateTime2), CAST(N'2021-05-01T00:04:34.0000000' AS DateTime2), 138, N'Arabiankatu', 138, N'Arabiankatu', 1057, 259)
INSERT [dbo].[Journeys] ([ID], [Departure], [Return], [Departure_station_id], [Departure_station_name], [Return_station_id], [Return_station_name], [Covered_distance_m], [Duration_sec]) VALUES (2, CAST(N'2021-05-01T00:00:30.0000000' AS DateTime2), CAST(N'2021-05-01T00:09:53.0000000' AS DateTime2), 17, N'Varsapuistikko', 45, N'Brahen kenttä', 1688, 558)
INSERT [dbo].[Journeys] ([ID], [Departure], [Return], [Departure_station_id], [Departure_station_name], [Return_station_id], [Return_station_name], [Covered_distance_m], [Duration_sec]) VALUES (3, CAST(N'2021-05-01T00:00:30.0000000' AS DateTime2), CAST(N'2021-05-01T00:11:55.0000000' AS DateTime2), 25, N'Narinkka', 123, N'Näkinsilta', 2088, 679)
GO
SET IDENTITY_INSERT [dbo].[Journeys] OFF
GO
INSERT [dbo].[Stations] ([FID], [ID], [Nimi], [Namn], [Name], [Osoite], [Adress], [Kaupunki], [Stad], [Operaattor], [Kapasiteet], [x], [y]) VALUES (111, 1, N'Kaivopuisto', N'Brunnsparken', N'Kaivopuisto', N'Meritori 1', N'Havstorget 1', N'Helsinki', N'Helsingfors', NULL, 30, N'24.9502114714031', N'60.155369615074')
INSERT [dbo].[Stations] ([FID], [ID], [Nimi], [Namn], [Name], [Osoite], [Adress], [Kaupunki], [Stad], [Operaattor], [Kapasiteet], [x], [y]) VALUES (112, 2, N'Laivasillankatu', N'Skeppsbrogatan', N'Laivasillankatu', N'Laivasillankatu 14', N'Skeppsbrogatan 14', N'Helsinki', N'Helsingfors', NULL, 12, N'24.9565097715858', N'60.1609890692806')
INSERT [dbo].[Stations] ([FID], [ID], [Nimi], [Namn], [Name], [Osoite], [Adress], [Kaupunki], [Stad], [Operaattor], [Kapasiteet], [x], [y]) VALUES (113, 3, N'Kapteeninpuistikko', N'Kaptensskvären', N'Kapteeninpuistikko', N'Tehtaankatu 13', N'Fabriksgatan 13', N'Helsinki', N'Helsingfors', NULL, 16, N'24.9450181631667', N'60.1581769029949')
GO
ALTER TABLE [dbo].[Journeys]  WITH CHECK ADD  CONSTRAINT [FK_Journeys_Stations] FOREIGN KEY([Departure_station_id])
REFERENCES [dbo].[Stations] ([ID])
GO
ALTER TABLE [dbo].[Journeys] CHECK CONSTRAINT [FK_Journeys_Stations]
GO
ALTER TABLE [dbo].[Journeys]  WITH CHECK ADD  CONSTRAINT [FK_Journeys_Stations_ReturnStation] FOREIGN KEY([Return_station_id])
REFERENCES [dbo].[Stations] ([ID])
GO
ALTER TABLE [dbo].[Journeys] CHECK CONSTRAINT [FK_Journeys_Stations_ReturnStation]
GO
USE [master]
GO
